{% if errors %}
  <ul style="color:red;list-style-type:none;">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
<br/>
{% endif %}
{% if values %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ trans.trans_name }} </h3>
  </div>
  <div class="modal-body">
    Description: {{ trans.trans_description }}<br />
    Date:        {{ trans.trans_amount }}<br />
    
    <b>Division</b><br />
    {% for value in values %}
       {{ value.trans_member.get_full_name }} : $ {{ value.amount }}<br/>    
    {% endfor %}
    
{% else %}
<b>No Entry found</b>
{% endif %}
</div>
 <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 </div>
